<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygl.springboot.redis.cache.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.ygl.springboot.redis.cache.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

    <delete id="deleteUserById" parameterType="java.lang.String">
        delete from user
        where id = #{id}
    </delete>

    <select id="queryUserName" parameterType="java.lang.String" resultType="java.lang.String">
        select name from user
        where id=#{id}
    </select>

    <update id="updateUserName" parameterType="java.lang.String" >
        update user set name=#{name} where id=#{id}
    </update>

    <select id="queryList" resultType="com.ygl.springboot.redis.cache.entity.User">
      select id,name from user
    </select>

</mapper>